<!-- Author: Shaun Cushman
     Date: December 2024
     Purpose: This file acts as a storage for snake game instructions. The content is not currently used anywhere in the project. 
        It is a placeholder for future development. Includes how I think the instructions should be styled, when the user 
        clicks the instructions button on the home. Could/should be refactored as the text is constant and repeats element styling throughout
-->

<div>
    <p>
      <strong><h2>How to Play:</h2></strong>
    </p>
  
    <ol>
      <li>
        <strong>Controlling the Snake</strong>
        <p>Use the arrow keys or WASD to move the snake:</p>
  
        <ul>
          <li><p>Up (W / ↑)to move the snake upward</p></li>
          <li><p>Down (S / ↓) to move the snake downward</p></li>
          <li><p>Left(A / ←) to move the snake left</p></li>
          <li><p>Right(D / →) to move the snake right</p></li>
        </ul>
      </li>
  
      <li>
        <strong>Eating the Apples</strong>
  
        <ul>
          <li>
            <p>The snake will grow each time it eats an apple that appears randomly on the screen.</p>
          </li>
          <li>
            <p>The more apples the snake eats, the longer it gets, making it harder to navigate.</p>
          </li>
        </ul>
      </li>
  
      <li>
        <strong>Avoiding Collisions</strong>
  
        <ul>
          <li>
            <p>
              Don't let the snake collide with the walls or its own body. If it does, the game is
              over.
            </p>
          </li>
          <li>
            <p>
              Try to navigate carefully as the snake becomes longer with each piece of food consumed.
            </p>
          </li>
        </ul>
      </li>
  
      <li>
        <strong>How Scoring Works</strong>
  
        <ul>
          <li><p>Each apple you eat increases your score</p></li>
          <li><p>The longer the snake, the higher your score</p></li>
        </ul>
      </li>
    </ol>
  </div>
  