h1 {
  color: red;
}

h2 {

}

a {
  text-decoration: none;
  color: inherit;
}

.game-over {
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000
}

.final-score {
  color: black;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.menu-button {
  all: unset;
  margin-top: 20px;
  padding: 6px;
  border-radius: 10px;
  background: orange;
}