h1 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #1bd0d3;
  text-shadow: 1px 1px 1px #D0FCFD, -1px -1px 2px #025c5e;
}

h2 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #EC65C1;
  text-shadow: -1px -1px 2px #FFFFFF, 1px 1px 1px #70325C;
}

a {
  text-decoration: none;
  color: white;
}

.game-over {
  background: #20FBFF;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000
}

.final-score {
  color: black;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.menu-button {
  all: unset;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background: #EC65C1;
  box-shadow: 0px 2px 2px #70325C;
  cursor: pointer;
  color: white;
}