.help-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  bottom: 10px;
  right: 10px;
}

.help-button::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 6.5px;
  width: 82%;
  height: 82%;
  border: none;
  border-radius: 100px;
  background-color: #20FFF2;
  z-index: -1;
}

.help-button:active .help-button-image {
  transform: translate(2px, 2px);
}

.help-button-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.05s;
}