
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../assets/background_tile.png') repeat;
  background-color: #09002e;
  background-size: auto;
}

.button {
  display: inline-block;
  width: 300px;
  height: 205px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 97.5%;
  height: 96%;
  border: none;
  border-radius: 15px;
  background-color: #20FFF2;
  z-index: -1;
}

.button-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.05s;
}

.button:active .button-image {
  transform: translate(6px, 6px);
}

.buttons {
  margin-top: 50px;
  display: flex;
  gap: 20vw;
}

@media (max-width: 775px) {
  .buttons {
    gap: 10vw;
  }
}

@media (max-width: 680px) {
  .buttons {
    flex-direction: column;
    gap: 50px;
  }
  .homepage {
    padding-top: 20px;
  }
}

@media (max-width: 310px) {
  .button {
    width: 95vw;
    height: 64vw;
  }
}

@media (max-height: 730px) {
  .buttons {
    flex-direction: column;
    gap: 50px;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
    margin-top: 20px;
    position: sticky;
    top: 0;
  }
}